.row {
  display: flex;
  flex-wrap: nowrap;
  margin-right: 0;
  margin-left: 0;
}

.col-md-2 {
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
  padding-left: 0; 
  padding-right: 0;
}

.col-md-10 {
  flex: 0 0 83.333333%;
  max-width: 83.333333%;
}

.col-md-2, .col-md-10 {
  padding: 0.5rem;
  padding-left: 0.8%;
}

@media (max-width: 767px) {
  .row {
    flex-wrap: wrap;
  }
  .col-md-2, .col-md-10 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}